header{
    background-color:#632580;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-flow: row;
}
h2{
    text-align: center;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}
.h2-div{
    background-color: lavender;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}
.h2-roman-div{
    background-color: lavender;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}
table,th,td{
    width: 45%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}


body{
    
    background-color: #635b4e;
    padding: 1em;
    margin: 1em;
}


   


img{
    width: 100%;
    
    margin: 1em;
}



.fave-country-container{
    display: flex;
    flex-flow: row;  
    height: auto;
    padding: 1em;
    margin: 1em;
    background-color: mediumorchid;
    border-radius: 1em;
}
.fave-content{
    width: 25%;
    height: auto;
    padding: 1em;
    margin: 1em;
    background-color: mediumpurple;
}

/*div content*/
.cityhall-content{
    width: 50%;
    display :flex ;
    flex-flow: row;
}

.castle-content-div{
    width: 50%;
    display :flex ;
    flex-flow: row;

}
.museum-content-div{
    width: 50%;
    display :flex ;
    flex-flow: row;
  
}
/*Below container's beyond this point*/
.master-container{
    display:flex;
    flex-flow: row;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: 1px;
    padding: 1px;

}

.cityhall-container{
    background-color: #632580;
    padding: 1px;
    margin: 1px;
    border-radius: 1em;
    display: flex;
    flex-flow:row    ;
    width: 33%;
}
.castle-container{
    width: 33%;
    background-color: #632580;
    padding: 1px;
    margin: 1px;
    border-radius: 1em;
    display: flex;
    flex-flow:row;

}

.museum-container{
    width: 33%;
    background-color: #632580;
    padding: 1px;
    margin: 1px;
    border-radius: 1em;
    display: flex;
    flex-flow:row;
}


    /*header img divs beyond this point*/
    .tablemountain-img{
    
    width: 50%;
    margin: 1em;
    }
    
    .img1-fave ,.img2-fave{
        margin: 1em;
    }



    /*historical places img divs beyond this point*/
    .cityhall-img{
        width: auto;
        float: left;
    }
    .img-museum-div{
        width: auto;
        float: left;
       
    }
    .castle-img{
        width: auto;
        float: left;
    }

li{
    font-size: smaller;
    line-height: 11px;
    

}



/*Media query beyond this point*/
@media screen and (max-width: 640px){
    
    .master-container{
        width: 100%;
        flex-flow: column;
    }
    .castle-container{
        width: 100%;
    }
    .museum-container{
        width: 100%;
    }
    .cityhall-container{
        width: 100%;
    }

}

